<div class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <legend><h1 class="modal-title text-center">New User Account</h1></legend>

        <form role="form" ng-submit="saveNewUserAccount()">
          <div class="row">
              <div class="form-group col-xs-6">
              <div ng-show="showError" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                  {{notifValue}}
              </div>

              <div ng-show="showSuccessNotif" class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                  {{notifValue}}
              </div>
            </div>
          </div>

          <div class="list-group">
            <div class="list-group-item">
              <input type="email" class="form-control" placeholder="Email Address" title="Enter valid Email Adress" required
              ng-model="newUserAccount.email">
            </div>
            <div class="list-group-item">
              <input type="text" class="form-control" placeholder="First Name" title="Enter first name" required
              ng-model="newUserAccount.firstName">
            </div>
            <div class="list-group-item">
              <input type="text" class="form-control" placeholder="Last Name" title="Enter last name" required
              ng-model="newUserAccount.lastName">
            </div>
            <div class="list-group-item">
              <label for="adminList">Admin Rights</label>
              <select class="form-control" ng-model="newUserAccount.admin" required>
                <option ng-repeat="admin in adminRightsOption" value={{admin.value}}>{{admin.label}}</option>
              </select>
            </div>
            <div class="list-group-item" >
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
              </button>
            </div>
          </div>
        </form>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
