<div class="panel panel-default" style="margin-top:20px;">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><a href="#"><strong><i class="glyphicon glyphicon-th-list"></i> User Accounts List</strong></a></h4>
    </div>
  </div>
</div>
    <div class="row">
      <div class="form-group col-xs-12 col-md-8">
        <input type="text" ng-model="search" class="form-control" placeholder="Search for keyword" title="Enter keyword" autofocus >
      </div>

      <div class="form-group col-xs-6 col-md-4">
          <button type="button" class="btn btn-primary" ng-click="ad.openAddNewUser()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New User Account
          </button>
        </div>
      </div>

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th ng-click="ad.sort('userEmail')">Email
              <span class="glyphicon sort-icon" ng-show="ad.sortKey=='userEmail'"
              ng-class="{'glyphicon-chevron-up':ad.reverse,'glyphicon-chevron-down':!ad.reverse}"></span></th>
            <th ng-click="ad.sort('userFirstName')">Firstname
              <span class="glyphicon sort-icon" ng-show="ad.sortKey=='userFirstName'"
              ng-class="{'glyphicon-chevron-up':ad.reverse,'glyphicon-chevron-down':!ad.reverse}"></span></th>
            <th ng-click="ad.sort('userLastName')">Lastname
              <span class="glyphicon sort-icon" ng-show="ad.sortKey=='userLastName'"
              ng-class="{'glyphicon-chevron-up':ad.reverse,'glyphicon-chevron-down':!ad.reverse}"></span></th>
            <th ng-click="ad.sort('admin')">Admin
              <span class="glyphicon sort-icon" ng-show="ad.sortKey=='admin'"
              ng-class="{'glyphicon-chevron-up':ad.reverse,'glyphicon-chevron-down':!ad.reverse}"></span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="data in ad.userAccountList|orderBy:ad.sortKey:ad.reverse|filter:search|itemsPerPage:6">
            <td>{{data.email}}</td>
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.admin}}</td>
            <td>
              <button type="button" class="btn btn-default" ng-click="ad.removeUserAccount($index,data)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

  <!--/panel-->
      <dir-pagination-controls
      max-size="5"
      direction-links="true"
      boundary-links="true" >
    </dir-pagination-controls>
