<div class="container-fluid">
  <div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><a href="#"><strong><i class="glyphicon glyphicon-wrench"></i> Profile Settings</strong></a></h4>
      </div>
    </div>
    <div class="panel-body">
      <form role="form" ng-submit="ad.saveUpdatedLoggedUser()">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">First Name</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1"
            title="Enter first name"
            placeholder="First name"
            ng-model="ad.userprofile.firstName"
            ng-disabled="ad.isEditAccountDisabled"
            required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">Last Name</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1"
            title="Enter last name"
            placeholder="Last name"
            ng-model="ad.userprofile.lastName"
            ng-disabled="ad.isEditAccountDisabled"
            required>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">Email Address</span>
            <input type="email" class="form-control" aria-describedby="basic-addon1"
            title="Enter valid Email"
            placeholder="Email Address"
            ng-model="ad.userprofile.email"
            ng-disabled="ad.isEditAccountDisabled"
            required>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-12 col-md-8">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">Password</span>
            <input type={{ad.passwordInputType}} class="form-control" aria-describedby="basic-addon1"
            title="Enter Password"
            placeholder="Password"
            ng-model="ad.userprofile.password"
            ng-disabled="ad.isEditAccountDisabled"
            required>
          </div>
          </div>

          <div class="form-group col-xs-6 col-md-4">
          <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="ad.hideShowPassword()" ng-disabled="ad.isEditAccountDisabled"/>
          <label for="checkbox" ng-if="passwordCheckbox"> Hide password</label>
          <label for="checkbox" ng-if="!passwordCheckbox"> Show password</label>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-1" ng-show="ad.isEditAccountDisabled">
          <button type="button" class="btn btn-primary" ng-click="ad.enableProfileEditMode()">Edit</button>
        </div>
        <div class="col-xs-6 col-md-1" ng-hide="ad.isEditAccountDisabled">
          <button type="button" class="btn btn-default" ng-click="ad.disabledProfileEditMode()">Cancel</button>
        </div>
        <div class="col-xs-6 col-md-1" ng-hide="ad.isEditAccountDisabled">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
    </div>
    <!--/panel content-->
  </div>
  <!--/panel-->
</div>
