<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><img class="profile-img" src="images/logo.png"
            alt="G4S"></center>
          </div>
          <div class="panel-body">
            <legend><strong>Login to Secure Portal</strong></legend>
            <form class="form-horizontal" role="form" ng-submit="vm.loginUser()" name="loginForm">


              <div class="form-group">
                <span ng-show="vm.showError" class="label label-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  Invalid username and password.
                </span>
              </div>

              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">
                  Email</label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" required ng-model="vm.loginEmail" autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-3 control-label">
                    Password</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="inputPassword" placeholder="Password" required ng-model="vm.password" autofocus>
                    </div>
                  </div>
                  <div class="form-group last">
                    <div class="col-sm-offset-3 col-sm-9">
                      <button type="submit" class="btn btn-primary btn-sm">
                        Sign in</button>
                        <button type="reset" class="btn btn-default btn-sm">
                          Reset</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="panel-footer">
                  </div>
                </div>
              </div>
            </div>
