<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">ID - <b>{{cc.selectedCustomer.customerDTO.customerNumber}}</b>
      <a href="#" class="pull-right" ng-click="cc.closeCustomerDetailsPanel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <legend><h2>Customer Information</h2></legend>

    <form role="form" ng-submit="cc.saveUpdatedCustomer(customerDetailForm)" name='customerDetailForm'>
      <div class="row">
        <div class="form-group col-xs-6">
          <div ng-show="cc.showError" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{cc.notifValue}}
          </div>

          <div ng-show="cc.showSuccessNotif" class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
            {{cc.notifValue}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">First Name</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1"
            title="Enter first name"
            placeholder="First name"
            required
            ng-model="cc.selectedCustomer.customerDTO.firstName" ng-disabled="cc.disableEditCustomerDetails">
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">Last Name</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1"
            title="Enter last name"
            placeholder="Last name"
            required
            ng-model="cc.selectedCustomer.customerDTO.lastName" ng-disabled="cc.disableEditCustomerDetails">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-4">
          <div class="form-group input-group">
            <span class="input-group-addon" id="basic-addon1">Gender</span>
            <select class="form-control" aria-describedby="basic-addon1" ng-disabled="cc.disableEditCustomerDetails"
            ng-model="cc.selectedCustomer.customerDTO.gender" required >
            <option value="">--Select a gender--</option>
            <option ng-repeat="gender in cc.genders">{{gender}}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">Birthday</span>
          <input id="birthdayStr" type="text" class="form-control" aria-describedby="basic-addon1"
          title="Enter Birthday"
          placeholder="dd-MM-yyyy"
          name="birthdayStr"
          required
          ng-model="cc.selectedCustomer.customerDTO.birthdayStr"
          ng-disabled="cc.disableEditCustomerDetails"
          ng-pattern="cc.datePattern"/>
        </div>
        <span ng-show="customerDetailForm.birthdayStr.$error.pattern" class="label label-danger">Should be DD-MM-YYYY</span>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">Company Name</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1"
          title="Enter Company"
          placeholder="Enter Company Name"
          ng-model="cc.selectedCustomer.customerDTO.companyName" ng-disabled="cc.disableEditCustomerDetails">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">Phone Number</span>
          <input type={{cc.inputTypeTextToNumber}} class="form-control" aria-describedby="basic-addon1"
          title="Enter Phone Number"
          placeholder="Phone Number"
          ng-model="cc.selectedCustomer.customerDTO.phoneNumber" ng-disabled="cc.disableEditCustomerDetails">
        </div>
      </div>

      <div class="col-xs-6">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">Email Address</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1"
          title="Enter valid Email"
          placeholder="Email Address"
          required
          ng-model="cc.selectedCustomer.customerDTO.email" ng-disabled="cc.disableEditCustomerDetails">
        </div>
      </div>
    </div>

    <legend><h3>Address</h3></legend>

    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">Street Address</span>
          <input id="streetAddress" class="form-control" aria-describedby="basic-addon1" type="text"
          title="Enter Street Address"
          placeholder="Street Address"
          required
          ng-model="cc.selectedCustomer.customerDTO.streetAddress" ng-disabled="cc.disableEditCustomerDetails"/>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">City</span>
          <input id="city" class="form-control" aria-describedby="basic-addon1"
          title="City"
          placeholder="City"
          ng-model="cc.selectedCustomer.customerDTO.city" ng-disabled="cc.disableEditCustomerDetails"/>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-6 col-md-4">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">State</span>
          <input id="state" class="form-control" aria-describedby="basic-addon1"
          title="Enter State"
          placeholder="State"
          ng-model="cc.selectedCustomer.customerDTO.state" ng-disabled="cc.disableEditCustomerDetails"/>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">Postcode</span>
          <input id="postcode" class="form-control" aria-describedby="basic-addon1"
          title="Enter Postcode"
          placeholder="Postcode"
          required
          type={{cc.inputTypeTextToNumber}}
          ng-model="cc.selectedCustomer.customerDTO.postcode" ng-disabled="cc.disableEditCustomerDetails"/>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="form-group input-group">
          <span class="input-group-addon" id="basic-addon1">Country</span>
          <select class="form-control" id="countryList" ng-model="cc.selectedCustomer.customerDTO.country" ng-disabled="cc.disableEditCustomerDetails">
            <option value="">--Select a country--</option>
            <option ng-repeat="country in cc.countries" value={{country.code}}>{{country.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <h3>Contracts</h3>
    <div class="row">
      <div class="col-xs-12 col-md-12">


        <table class="table">
          <tr ng-repeat="datum in cc.repeatSelectContracts track by $index">
            <td>
              <div class="row">

                <div class="form-group col-xs-6 col-md-8">
                  <select class="form-control" id="contractList"
                  ng-model="cc.selectedCustomer.customerContractDTO.contractNum[$index]"
                  ng-disabled="cc.disableEditCustomerDetails"
                  required >
                  <option ng-repeat="contract in cc.contractList" value={{contract.contractNum}}>{{contract.contractNum}} : {{contract.title}}</option>
                </select>
              </div>

              <div class="form-group col-xs-6 col-md-4">
                <button ng-show="cc.disableEditCustomerDetails" type="button" class="btn btn-default"
                ng-click="cc.clickExportButton(cc.selectedCustomer.customerContractDTO.contractNum[$index])">
                  Export as PDF</button>
                <button type="button" ng-hide="cc.disableEditCustomerDetails" class="close" ng-click="cc.removeContractRowDropdown($index)"
                aria-hidden="true">&times;</button>
              </div>
            </div>
          </td>

        </tr>
      </table>
  </div>
</div>

<div ng-show="!cc.disableEditCustomerDetails">
  <a href="#" ng-click="cc.addAnotherContractDropdown()">Add another contract</a>
</div>
<div class="row">
  <div class="col-md-1 pull-right" ng-show="cc.showSaveButton">
    <button type="submit" class="btn btn-primary" style="margin-right:10px;">Save</button>
  </div>
  <div class="col-md-1 pull-right" ng-show="cc.showSaveButton">
    <button type="button" class="btn btn-default" ng-click="cc.closeCustomerDetailsPanel()" style="margin-right:10px;">Cancel</button>
  </div>
  <div class="col-md1 pull-right" ng-hide="cc.showSaveButton">
    <button type="button" class="btn btn-primary" ng-click="cc.enableCustomerEditMode()" style="margin-right:10px;">Edit</button>
  </div>
</div>
</form>
</div>
