<div class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form role="form" ng-submit="saveNewCustomerContract(customerCreateForm)" name='customerCreateForm'>
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <legend><h1 class="modal-title text-center">Customer Information</h1></legend>

          <div class="row">
            <div class="form-group col-xs-6">
              <div ng-show="showError" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{notifValue}}
              </div>

              <div ng-show="showSuccessNotif" class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                {{notifValue}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-6">
              <label for="firstName">First Name</label>
              <input id="firstName" class="form-control input-group-lg reg_name" type="text" name="firstName"
              title="Enter first name"
              placeholder="First name"
              required
              ng-model="newCustomer.firstName"/>
            </div>

            <div class="form-group col-xs-6">
              <label for="lastName">Last Name</label>
              <input id="lastName" class="form-control input-group-lg reg_name" type="text" name="lastName"
              title="Enter last name"
              placeholder="Last name"
              required
              ng-model="newCustomer.lastName"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-6 col-md-4">
              <label for="genderList">Gender</label>
              <select class="form-control" id="genderList" ng-model="newCustomer.gender" required >
                <option value="">--Select a gender--</option>
                <option ng-repeat="gender in genders">{{gender}}</option>
              </select>
            </div>

            <div class="form-group col-xs-6 col-md-4">
              <label for="birthdayStr">Birthday</label>
              <input id="birthdayStr" class="form-control input-group-lg reg_name" type="text" name="birthdayStr"
              title="Enter Birthday"
              placeholder="dd-MM-yyyy"
              required
              ng-model="newCustomer.birthdayStr"
              ng-pattern="datePattern"/>
              <span ng-show="customerCreateForm.birthdayStr.$error.pattern" class="label label-danger">Should be DD-MM-YYYY</span>
            </div>

            <div class="form-group col-xs-6 col-md-4"">
              <label for="companyName">Company Name</label>
              <input id="companyName" class="form-control input-group-lg reg_name" type="text" name="companyName"
              title="Enter Company"
              placeholder="Enter Company Name"
              ng-model="newCustomer.companyName"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-6">
              <label for="phone">Phone Number</label>
              <input id="phone" class="form-control input-group-lg reg_name" type="number" name="phone"
              title="Enter Phone Number"
              placeholder="Phone Number"
              ng-model="newCustomer.phoneNumber"/>
            </div>

            <div class="form-group col-xs-6">
              <label for="email">Email Address</label>
              <input id="email" class="form-control input-group-lg reg_name" type="email" name="email address"
              title="Enter valid Email"
              placeholder="Email Address"
              required
              ng-model="newCustomer.email"/>
            </div>
          </div>

          <legend><h3>Address</h3></legend>

          <div class="row">
            <div class="form-group col-xs-12 col-md-8">
              <label for="streetAddress">Street Address</label>
              <input id="streetAddress" class="form-control input-group-lg" type="text" name="streetAddress"
              title="Enter Street Address"
              placeholder="Street Address"
              required
              ng-model="newCustomer.streetAddress"/>
            </div>

            <div class="form-group col-xs-6 col-md-4">
              <label for="city">City</label>
              <input id="city" class="form-control input-group-lg reg_name" type="text" name="city"
              title="City"
              placeholder="City"
              ng-model="newCustomer.city"/>
            </div>
          </div>

          <div class="row">

            <div class="form-group col-xs-6 col-md-4">
              <label for="state">State</label>
              <input id="state" class="form-control input-group-lg reg_name" type="text" name="state"
              title="Enter State"
              placeholder="State"
              ng-model="newCustomer.state"/>
            </div>

            <div class="form-group col-xs-6 col-md-4">
              <label for="postcode">Post code</label>
              <input id="postcode" class="form-control input-group-lg reg_name" type="number" name="postcode"
              title="Enter Postcode"
              placeholder="Postcode"
              required
              ng-model="newCustomer.postcode"/>
            </div>

            <div class="form-group col-xs-6 col-md-4">
              <label for="country">Country</label>
              <select class="form-control" id="countryList" ng-model="newCustomer.country" required>
                <option value="">--Select a country--</option>
                <option ng-repeat="country in countries" value={{country.code}}>{{country.name}}</option>
              </select>
            </div>
          </div>

          <h3>Contracts</h3>
          <div class="row">
            <div class="col-xs-12 col-md-9">


              <table class="table">
                <tr ng-repeat="datum in repeatSelectContracts track by $index">
                  <td>
                    <button type="button" class="close" ng-click="removeContractRow($index)"
                    aria-hidden="true">&times;</button>
                    <select class="form-control" id="contractList"
                     ng-model="customerData.customerContractDTO.contractNum[$index]"
                    required >
                    <option ng-repeat="contract in contractList" value={{contract.contractNum}}>{{contract.contractNum}} : {{contract.title}}</option>
                  </select>
                </td>
              </tr>
            </table>

          </select>
        </div>
      </div>
      <a href="#" ng-click="addAnotherContract()">Add another contract</a>

    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="col-xs-6 col-md-2">
          <button type="button" class="btn btn-default btn-lg active" ng-click="clearNewCustomerFields()">Clear</button>
        </div>
        <div class="col-xs-6 col-md-2">
          <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </div>
    </div>
  </div>
</form>
</div>
</div>
</div>
