<div class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <legend><h1 class="modal-title text-center">Modify Contract </h1></legend>
        ID: {{contractTobeEdited.contractNum}}
        <hr>
        <form role="form" ng-submit="saveEditContract()" name='contractEdsitForm'>

          <!-- Error message -->
          <div class="row">
              <div class="form-group col-xs-6">
              <div ng-show="showError" class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                  {{notifValue}}
              </div>

              <div ng-show="showSuccessNotif" class="alert alert-success" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                  {{notifValue}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-12 col-md-12">
              <label for="title">Title</label>
              <input id="title" class="form-control input-group-lg" type="text" name="title"
              title="Enter Contract Title"
              placeholder="Contract Title"
              required
              ng-model="contractTobeEdited.title"/>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-xs-12 col-md-12">
              <label for="body">Body</label>
              <textarea id="body" class="form-control input-group-lg" name="body"
              rows="8"
              title="Enter Contract Body"
              placeholder="Contract Body"
              required
              ng-model="contractTobeEdited.body"/>
            </div>
          </div>

          <div class="row">
          <div class="col-xs-6 col-md-2">
            <button type="button" class="btn btn-default btn-lg active" data-dismiss="modal" ng-click="clearEditContractFields()">Cancel</button>
          </div>
          <div class="col-xs-6 col-md-2">
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
          </div>
        </div>
    </form>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
