<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">ID - <b>{{cont.selectedContract.contractNum}}</b>
      <a href="#" class="pull-right" ng-click="cont.closeContractDetailsPanel()">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
    </h3>
  </div>

  <div class="panel-body">
    <legend><h2>{{cont.selectedContract.title}}</h2></legend>
    <p>{{cont.selectedContract.body}}</p>
  </div>

  <div class="panel-footer">
    <button type="button" class="btn btn-default" ng-click="cont.showEditContractModal()">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
    </button>
  </div>
</div>
