<div class="panel panel-default" style="margin-top:20px;">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><a href="#"><strong><i class="glyphicon glyphicon-th-list"></i> Contracts</strong></a></h4>
    </div>
  </div>
</div>
    <div class="row">
      <div class="form-group col-xs-12 col-md-8">
        <input type="text" ng-model="search" class="form-control" placeholder="Search for keyword" title="Enter keyword" autofocus >
      </div>

      <div class="form-group col-xs-6 col-md-4">
        <button type="button" class="btn btn-primary" ng-click="cont.showCreateNewContractModal()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Contract
        </button>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-6">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th ng-click="cont.sort('contractNum')">Contract ID
                <span class="glyphicon sort-icon" ng-show="cont.sortKey=='contractNum'"
                ng-class="{'glyphicon-chevron-up':cont.reverse,'glyphicon-chevron-down':!cont.reverse}"></span></th>
              <th ng-click="cont.sort('contractTitle')">Title
                <span class="glyphicon sort-icon" ng-show="cont.sortKey=='contractTitle'"
                ng-class="{'glyphicon-chevron-up':cont.reverse,'glyphicon-chevron-down':!cont.reverse}"></span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="data in cont.contractList|orderBy:cont.sortKey:cont.reverse|filter:search|itemsPerPage:6">
              <td>{{data.contractNum}}</td>
              <td>{{data.title}}</td>
              <td>
                <button type="button" class="btn btn-default" ng-click="cont.viewContractPanel(data)" >
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="cont.removeContract($index,data)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
      </dir-pagination-controls>
    </div>


    <div class="form-group col-xs-6 col-md-5">

      <br>
      <br>
      <div class="row">
        <div class="span8">
        <div ng-show="cont.toggleContractDetails">
          <ng-include src="'modules/contract/contract-details.html'" ></ng-include>
        </div>
      </div>
    </div>
  </div>

</div>
