<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="images/favicon.ico">

  <title>Secure Portal</title>
  <script type="text/javascript" ng-if="false">
  var ca = document.cookie.split(';');
  var found = false;
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1);
    if (c.indexOf("sessionId=") == 0)  found = true;
  }
  if (!found) {
    window.location.href = "http://" + window.location.host + "/login.html#/?next=" + window.location.hash.substr(1);
  }
  </script>

   <link rel="stylesheet" href="styles/index.41b51338.css">

    <script data-main="modules/main" src="require.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl as nav">
    <div id="page-content-wrapper" class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span style="margin-right: 20px">Secure Portal</span></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="ng-class: nav.activeTab.lastIndexOf('/customer', 0) === 0  && 'active' ;"><a href="/customer"
            ng-click="nav.changeTab('/customer')">Customer</a></li>
          </a></li>

          <li class="ng-class: nav.activeTab.lastIndexOf('/contracts', 0) === 0  && 'active' ;"><a href="/contracts"
            ng-click="nav.changeTab('/contracts')">Contracts</a></li>
          </a></li>

          <li ng-show="nav.loggedUser.admin" class="ng-class: nav.activeTab.lastIndexOf('/useracounts', 0) === 0  && 'active' ;"><a href="/useracounts"
            ng-click="nav.changeTab('/useracounts')">User Accounts</a></li>
          </a></li>

        </ul>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/userprofile" ng-click="nav.changeTab('/userprofile')">
              <span class="glyphicon glyphicon-briefcase" aria-hidden="true" style="margin-right:10px;"></span>Manage Profile</a></li>

              <li class="divider"></li>
              <li><a href="#" ng-click="nav.logout()">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true" style="margin-right:10px;"></span>Log out as: {{nav.loggedUser.email}}</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" ng-cloak>
      <div ng-view></div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="modules/jquery.min.js"></script>
   <script src="modules/bootstrap.min.js"></script>
  </body>
  </html>
