<div class="panel panel-default" style="margin-top:20px;">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><a href="#"><strong><i class="glyphicon glyphicon-th-list"></i> Customer List</strong></a></h4>
    </div>
  </div>
</div>

    <div class="row">
      <div class="form-group col-xs-12 col-md-8">
        <input type="text" ng-model="search" class="form-control" placeholder="Search for keyword" title="Enter keyword" autofocus >
      </div>

      <div class="form-group col-xs-6 col-md-4">
        <button type="button" class="btn btn-primary" ng-click="cc.showCreateNewCustomerModal()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Customer
        </button>
      </div>
    </div>


    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th ng-click="cc.sort('customerNumber')">ID
            <span class="glyphicon sort-icon" ng-show="cc.sortKey=='customerNumber'"
            ng-class="{'glyphicon-chevron-up':cc.reverse,'glyphicon-chevron-down':!cc.reverse}"></span>
          </th>
            <th ng-click="cc.sort('firstName')">Firstname
              <span class="glyphicon sort-icon" ng-show="cc.sortKey=='firstName'"
              ng-class="{'glyphicon-chevron-up':cc.reverse,'glyphicon-chevron-down':!cc.reverse}"></span>
            </th>
            <th ng-click="cc.sort('lastName')">Lastname
              <span class="glyphicon sort-icon" ng-show="cc.sortKey=='lastName'"
              ng-class="{'glyphicon-chevron-up':cc.reverse,'glyphicon-chevron-down':!cc.reverse}"></span>
            </th>
            <th ng-click="cc.sort('email')">Email
                <span class="glyphicon sort-icon" ng-show="cc.sortKey=='email'"
                ng-class="{'glyphicon-chevron-up':cc.reverse,'glyphicon-chevron-down':!cc.reverse}"></span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="data in cc.customerItems|orderBy:cc.sortKey:cc.reverse|filter:search|itemsPerPage:6">
            <td>{{data.customerNumber}}</td>
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.email}}</td>
            <td>
              <button type="button" class="btn btn-default btn-xs" ng-click="cc.viewCustomerNav(data)" >
                More Details
              </button>
              <button type="button" class="btn btn-default btn-xs" ng-click="cc.removeCustomerContract($index,data)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>


  <dir-pagination-controls
  max-size="5"
  direction-links="true"
  boundary-links="true" >
</dir-pagination-controls>

<div ng-show="cc.toggleCustomerDetails">
  <ng-include src="'modules/customer/customer-details.html'" ></ng-include>
</div>
